<!DOCTYPE html>
<html lang="{{ site.lang | default: 'cs' }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="icon" type="image/png" href="/favicon-088-white-256.png" />
  </head>
  <body>
    <!--<a id="skip-to-content" href="#content">Skip to the content.</a>-->

    <header class="page-header" role="banner">
      <div style="width: 100%;">
        <div class="left">
          <span>
            <i class="material-icons as-btn">search</i>
          </span>

        </div>
        <div class="right">
          <span class="as-btn">&bull; <a href="/sluzby">Služby</a></span>
          <span class="as-btn">&bull; <a href="/eshop">E-Shop</a></span>
          <span><a href="#support-us"><i style="font-size: 1.2rem;" class="material-icons">favorite_border</i></a></span>
          <span><a href="#user-settings"><i style="font-size: 1.2rem;" class="material-icons">settings</i></a></span>
        </div>
      </div>

      <h1 class="project-name">
        <a href="/">
          {{ site.title | default: site.github.repository_name }}
        </a>
      </h1>
      <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
      <h2 class=""><i class="material-icons">build</i> Currently under development</h2>

      <a href="/cviky/" class="btn" title="Seznam cviků"><i class="material-icons">whatshot</i> Workout</a>
      <a href="/nastroje/" class="btn" title="Nástroje a pomůcky"><i class="material-icons">timer</i> Nástroje</a>
      <a href="/lide/" class="btn" title="Lidé a komunity"><i class="material-icons">people</i> Lidé</a>
      <a href="/mista/" class="btn" title="Místa na cvičení"><i class="material-icons">place</i>Místa</a>
      <a href="#" class="btn" title="Média a zdroje"><i class="material-icons">video_library</i> Média</a>
    </header>

    <div class="main-content">
      <i id="bookmark-icon" class="material-icons as-btn">bookmark</i>
    </div>

    <main id="content" class="main-content" role="main">

      {{ content }}

      <footer class="site-footer">
        <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Licence Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" /></a>
        <span>Obsah tohoto webu podléhá licenci</span> <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Uveďte původ-Neužívejte komerčně 4.0 Mezinárodní License</a>.

        <br>
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>


        <span class="as-btn">&bull; <a href="/kontakt">Kontakt</a></span>
        <span class="as-btn">&bull; <a href="/partneri">Partneři</a></span>
        <span class="as-btn">&bull; <a href="/o-webu">O webu</a></span>

      </footer>
    </main>

    <script src="/assets/js/all-pages.min.js"></script>
  </body>
</html>
